@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #ffffff;
  --fontColor: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bgColor: #0a0a0a;
    --fontColor: #ededed;
  }
} */
* {
  letter-spacing: 0.05em;
}
body {
  color: black;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}
a:hover {
  @apply bg-gray-100;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.body {
  background-image: url(../public/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @apply w-full h-[100vh] backdrop-blur-md;
}
.outSite {
  @apply w-full max-w-7xl h-[80vh];
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  @apply rounded-2xl shadow-xl bg-white p-5;
}
.inSite {
  @apply flex gap-5 bg-gray-100 w-full h-full rounded-xl p-4 shadow-md;
}
